{% for tag in tags %}
    <a class="tag {{dark ? " tag-dark" : " "}}" title="Show all articles with tag {{ tag }}" href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>
{% endfor %}
