{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
    <head>
        {% block head %}
            <meta charset="utf-8"/>
            <title>
                {% if header.title %}{{ header.title|e('html') }}
                    |
                {% endif %}{{ site.title|e('html') }}</title>
            {% include 'partials/metadata.html.twig' %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
            <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}"/>
            <link rel="canonical" href="{{ page.url(true, true) }}"/>

            {% block css %}
                {% do
                    assets.addCss('theme://css/lib/bootstrap.css', 103) %}
                {% do
                    assets.addCss('theme://css/lib/font-awesome.css', 102) %}
                {% do
                    assets.addCss('theme://css/app.css', 101) %}
            {% endblock %}
            {{ assets.css() }}

        {% endblock head %}
    </head>
    <body id="top" class="{{ page.header.body_classes }}">
        <div id="sb-site">
            {% block header %}
                <header id="header">
                    <div id="logo">
                        <h3>
                            <a href="{{ base_url == '' ? '/' : base_url }}">{{ config.site.title }}</a>
                        </h3>
                    </div>
                    <div id="navbar">
                        {% block header_extra %}{% endblock %}
                        {% if config.plugins.langswitcher.enabled %}
                            {% include 'partials/langswitcher.html.twig' %}
                        {% endif %}
                        {% block header_navigation %}
                            {% include 'partials/navigation.html.twig' %}
                        {% endblock %}
                        <span class="panel-activation sb-toggle-left navbar-left menu-btn fa fa-bars"></span>
                    </div>
                </header>
            {% endblock %}

            {% block showcase %}{% endblock %}

            {% block body %}
                <section id="body" class="{{ class }}">
                    {% block content %}{% endblock %}
                </section>
            {% endblock %}

            {% block footer %}
                <footer id="footer">
                    <div class="totop">
                        <span>
                            <a href="#" id="toTop">
                                <i class="fa fa-arrow-up"></i>
                            </a>
                        </span>
                    </div>
                    <p>
                        <a href="http://getgrav.org">Grav</a>
                        was
                        <i class="fa fa-code"></i>
                        with
                        <i class="fa fa-heart"></i>
                        by
                        <a href="http://www.rockettheme.com">RocketTheme</a>.</p>
                </footer>
            {% endblock %}
        </div>
        <div class="sb-slidebar sb-left sb-width-thin">
            <div id="panel">
                {% include 'partials/navigation.html.twig' %}
            </div>
        </div>

        {% block js %}
            {% do
                assets.addJs('theme://js/lib/jquery.js', 203) %}
            {% do
                assets.addJs('theme://js/lib/tether.js', 201) %}
            {% do
                assets.addJs('theme://js/lib/bootstrap.js', 200) %}
            {% do
                assets.addJs('theme://js/app.js', 100) %}
        {% endblock %}
        {{ assets.js() }}
    </body>
</html>
