{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
{% if header.title == "Blog" %}
    {% set title = "F-Rilling.com" | e("html") %}
{% else %}
    {% set title = header.title ~ " | " ~ site.title | e("html") %}
{% endif %}
{% if page.header.taxonomy %}
    {% set description = page.summary | striptags | truncate(300) %}
    {% set keywords = page.header.taxonomy.tag | join(", ") %}
{% else %}
    {% set description = header.meta.description | truncate(300) %}
    {% set keywords = header.meta.tags %}
{% endif %}
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
    <head prefix="og:http://ogp.me/ns# fb: http://ogp.me/ns/fb# article:http://ogp.me/ns/article#">
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index,follow"/>
        <title>{{title}}</title>
        <meta name="description" content="{{description}}"/>
        <meta name="keywords" content="{{keywords}}"/>
        <meta name="author" content="Felix Rilling"/>

        <!--Open Graph for Facebook-->
        <meta property="og:title" content="{{title}}"/>
        <meta property="og:url" content="{{ page.url(true, true) }}"/>
        <meta property="og:description" content="{{description}}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="{{ url('theme://img/icons/apple-touch-icon-180x180.png', true) }}"/>
        <meta property="og:site_name" content="F-Rilling.com"/>

        <!--Card Data for Twitter-->
        <meta name="twitter:card" content="{{description}}">
        <meta name="twitter:title" content="{{title}}">
        <meta name="twitter:url" content="{{ page.url(true, true) }}">
        <meta name="twitter:description" content="{{description}}">
        <meta name="twitter:image" content="{{ url('theme://img/icons/apple-touch-icon-180x180.png', true) }}"/>

        <!--Favicons-->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url('theme://img/apple-touch-icon.png', true) }}">
        <link rel="icon" type="image/png" href="{{ url('theme://img/favicon-32x32.png', true) }}" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ url('theme://img/favicon-16x16.png', true) }}" sizes="16x16">
        <link rel="manifest" href="{{ url('theme://img/manifest.json', true) }}">
        <link rel="mask-icon" href="{{ url('theme://img/safari-pinned-tab.svg', true) }}" color="#83d356">
        <link rel="shortcut icon" href="{{ url('theme://img/favicon.ico', true) }}">
        <meta name="msapplication-config" content="{{ url('theme://img/browserconfig.xml', true) }}">
        <meta name="theme-color" content="#333333">

        <link rel="canonical" href="{{ page.url(true, true) }}"/>

        {% block css %}
            {% do
                assets.addCss("https://fonts.googleapis.com/css?family=Arvo:400,700|Lato|Source+Code+Pro", 104) %}
            {% do
                assets.addCss("theme://css/lib/bootstrap.css", 103) %}
            {% do
                assets.addCss("theme://css/lib/font-awesome.css", 102) %}
            {% do
                assets.addCss("theme://css/app.css", 101) %}
        {% endblock %}
        {{ assets.css() }}

    </head>
    <body id="top">
        {% block header %}
            <header>
                {% block navigation %}
                    {% include "partials/navigation.html.twig" %}
                {% endblock %}
                <div class="presenter">
                    <div class="container">
                        {% block presenter %}{% endblock %}
                        {% if config.plugins.breadcrumbs.enabled %}
                            {% include 'partials/breadcrumbs.html.twig' %}
                        {% endif %}
                    </div>
                </div>

            </header>
        {% endblock %}

        {% block body %}
            <main class="container">
                {% block content %}{% endblock %}
            </main>
        {% endblock %}

        {% block footer %}
            <footer >
                {% include "partials/footer.html.twig" %}
            </footer>
        {% endblock %}

        {% block js %}
            {% if page.template == "item" %}
                {% do
                    assets.addJs("http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js", 200) %}
            {% endif %}
            {% do
                assets.addJs("theme://js/app.js", 100) %}
        {% endblock %}
        {{ assets.js() }}
    </body>
</html>
