<div class="container">
    <div class="footer-wrapper">
        <div class="footer-block">
            <nav>
                <ul class="footer-list">
                    {% for page in pages.children.visible %}
                        {% set current_page = (page.active or page.activeChild)? 'active' : '' %}
                        <li class="{{current_page}}">
                            <a href="{{page.url}}" title="Go to {{page.menu}}">
                                {{page.menu}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div class="footer-block">
            <ul class="footer-list">
                <li>
                    <a href="{{url('cookies')}}" title="Got to Cookies">Cookies</a>
                </li>
                <li>
                    <a href="{{url('impressum')}}" title="Got to Impressum">Impressum/Legal Disclosure</a>
                </li>
                <li>
                    <a href="mailto:contact@f-rilling.com" title="Contact Felix Rilling">contact&#64;f-rilling.com</a>
                </li>
                <li>
                    <a href="http://f-rilling.com/about" title="About Felix Rilling">
                        &copy;<span itemprop="copyrightYear">2017</span><span itemprop="copyrightHolder creator">Felix Rilling</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
