<nav class="navbar navbar-light navbar-toggleable-sm fixed-top">
    <div class="container">
        <a class="navbar-toggler navbar-toggler-right" href="javascript:;" id="navbarToggle" title="Expand mobile menu"  aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="menu-bar"></span>
            <span class="menu-bar"></span>
            <span class="menu-bar"></span>
        </a>
        <a class="navbar-brand" href="{{url('.', true) }}" title="Go to Home">F-Rilling.com</a>
        <div class="collapse navbar-collapse" id="navbarMenu" role="navigation">
            <ul class="navbar-nav" role="menubar">
                {% for page in pages.children.visible %}
                    {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
                <li class="nav-item {{current_page}}" role="menuitem">
                    <a class="nav-link" href="{{page.url}}" title="Go to {{page.menu}}">{{page.menu}}{% if current_page %}<span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>