<div class="navbar-wrapper">
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{url('.', true) }}" title="Go to Home">F-Rilling.com</a>

                <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#toggleNavbar" aria-controls="toggleNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="menu-bar"></span>
                    <span class="menu-bar"></span>
                    <span class="menu-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-toggleable-xs" id="toggleNavbar">
                <ul class="nav navbar-nav pull-sm-right">
                    {% for page in pages.children.visible %}
                        {% set current_page = (page.active or page.activeChild)
                            ? 'active'
                            : '' %}
                        <li class="nav-item {{current_page}}">
                            <a class="nav-link" href="{{page.url}}" title="Go to {{page.menu}}">
                                {{page.menu}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</div>
