<div class="navbar-wrapper">
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{url('.', true) }}" title="Go to Home">F-Rilling.com</a>

                <a class="navbar-toggler hidden-sm-up" href="javascript:;" role="button" title="Expand mobile menu">
                    <span class="menu-bar"></span>
                    <span class="menu-bar"></span>
                    <span class="menu-bar"></span>
                </a>
            </div>
            <div class="collapse navbar-toggleable-xs" id="toggleNavbar" role="navigation" aria-hidden="false"/>
                <ul class="nav navbar-nav pull-sm-right" role="menubar">
                    {% for page in pages.children.visible %}
                        {% set current_page = (page.active or page.activeChild)
                            ? 'active'
                            : '' %}
                        <li class="nav-item {{current_page}}" role="presentation">
                            <a class="nav-link" href="{{page.url}}" title="Go to {{page.menu}}" role="menuitem">
                                {{page.menu}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</div>
