<div class="navbar-expand-md fixed-top">
    <nav class="navbar navbar-light">
        <div class="container">
            <a class="navbar-brand" href="{{url('./', true)}}" title="Go to Home">F-Rilling</a>
            <a class="navbar-toggler navbar-toggler-right" href="javascript:;" id="navbarToggle" role="button" title="Toggle navigation"  aria-controls="navbarMenu" aria-expanded="false">
                <span class="menu-bar" aria-hidden="true"><!-- icon --></span>
                <span class="menu-bar" aria-hidden="true"><!-- icon --></span>
                <span class="menu-bar" aria-hidden="true"><!-- icon --></span>
            </a>
            <div class="collapse navbar-collapse" id="navbarMenu" role="navigation" aria-hidden="false">
                <ul class="navbar-nav mr-auto" role="menubar">
                    {% for page in pages.children.visible %}
                        {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
                    <li class="nav-item {{current_page}}" role="menuitem">
                        <a class="nav-link" href="{{page.url}}" title="Go to {{page.menu}}">{{page.menu}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</div>
