<!DOCTYPE html>
<!--
Source code can be found here:
    - site hexo project and content: https://github.com/FelixRilling/rilling.dev
    - site theme:                    https://github.com/FelixRilling/rilling.dev_theme
-->
<html lang="en" prefix="og: http://ogp.me/ns#">
    <%- partial('_partial/head', null, {cache: false}) %>
    <body>
        <%- partial('_partial/navbar', null, {cache: false}) %>
        <main>
            <%- body %>
        </main>
        <%- partial('_partial/footer', null, {cache: false}) %>
        <%- partial('_partial/after-footer', null, {cache: false}) %>
    </body>
</html>
