<!DOCTYPE html>
<html lang="<%= config.language %>" dir="ltr" prefix="og: https://ogp.me/ns#">
<%- partial("_partial/head"); %>
<body>
<a href="#main" class="skip-link">Skip to main content</a>
<%- partial("_partial/navbar"); %>
<div class="container">
    <main id="main" class="main">
        <%- body; %>
    </main>
</div>
<%- partial("_partial/footer"); %>
<%- partial("_partial/after-footer"); %>
</body>
</html>
