<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<%- partial('_partial/head') %>
<body>
<header class="header">
    <%- partial('_partial/navbar', null) %>
    <%- partial('_partial/presenter', null) %>
</header>
<main class="main">
    <%- body %>
</main>
<footer class="footer">
    <%- partial('_partial/footer', null) %>
</footer>
<%- partial('_partial/after-footer', null) %>
</body>
</html>
