{% set title = header.title  ~ " | " ~ site.title|e('html') %}

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article:http://ogp.me/ns/article#">
    {% block head %}
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index,follow" />
        <title>{{title}}</title>
        <meta name="description" content="{{header.meta.description}}" />
        <meta name="keywords" content="{{header.meta.tags}}" />
        <meta name="author" content="Felix Rilling" />

        {% block socialmeta %}

          <!--Open Graph for Facebook-->
          <meta property="og:title" content="{{title}}" />
          <meta property="og:url" content="{{ page.url(true, true) }}" />
          <meta property="og:description" content="{{header.meta.description}}" />
          <meta property="og:type" content="website" />
          <meta property="og:image" content="{{ url('theme://images/apple-touch-icon-180x180.png', true) }}" />
          <meta property="og:site_name" content="F-Rilling.com" />

          <!--Card Data for Twitter-->
          <meta name="twitter:card" content="summary">
          <meta name="twitter:title" content="{{title}}">
          <meta name="twitter:url" content="{{ page.url(true, true) }}">
          <meta name="twitter:description" content="{{header.meta.description}}">
          <meta name="twitter:image" content="{{ url('theme://images/apple-touch-icon-180x180.png', true) }}" />
        {% endblock %}

        {% block favicons %}
            <!--Favicons-->
            <link rel="apple-touch-icon" sizes="57x57" href="{{ url('theme://images/apple-touch-icon-57x57.png', true) }}">
            <link rel="apple-touch-icon" sizes="60x60" href="{{ url('theme://images/apple-touch-icon-60x60.png', true) }}">
            <link rel="apple-touch-icon" sizes="72x72" href="{{ url('theme://images/apple-touch-icon-72x72.png', true) }}">
            <link rel="apple-touch-icon" sizes="76x76" href="{{ url('theme://images/apple-touch-icon-76x76.png', true) }}">
            <link rel="apple-touch-icon" sizes="114x114" href="{{ url('theme://images/apple-touch-icon-114x114.png', true) }}">
            <link rel="apple-touch-icon" sizes="120x120" href="{{ url('theme://images/apple-touch-icon-120x120.png', true) }}">
            <link rel="apple-touch-icon" sizes="144x144" href="{{ url('theme://images/apple-touch-icon-144x144.png', true) }}">
            <link rel="apple-touch-icon" sizes="152x152" href="{{ url('theme://images/apple-touch-icon-152x152.png', true) }}">
            <link rel="apple-touch-icon" sizes="180x180" href="{{ url('theme://images/apple-touch-icon-180x180.png', true) }}">
            <link rel="icon" type="image/png" href="{{ url('theme://images/favicon-32x32.png', true) }}" sizes="32x32">
            <link rel="icon" type="image/png" href="{{ url('theme://images/favicon-194x194.png', true) }}" sizes="194x194">
            <link rel="icon" type="image/png" href="{{ url('theme://images/favicon-96x96.png', true) }}" sizes="96x96">
            <link rel="icon" type="image/png" href="{{ url('theme://images/android-chrome-192x192.png', true) }}" sizes="192x192">
            <link rel="icon" type="image/png" href="{{ url('theme://images/favicon-16x16.png', true) }}" sizes="16x16">
            <link rel="manifest" href="{{ url('theme://images/manifest.json', true) }}">
            <link rel="mask-icon" href="{{ url('theme://images/safari-pinned-tab.svg', true) }}" color="#333333">
            <meta name="msapplication-TileColor" content="#95da60">
            <meta name="msapplication-TileImage" content="{{ url('theme://images/mstile-144x144.png', true) }}">
            <meta name="theme-color" content="#333333">
        {% endblock %}
<link rel="canonical" href="{{ page.url(true, true) }}"/>

        <!--Styles-->
        {% block stylesheets %}
            {% do
                assets.addCss('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css', 104) %}
            {% do
                assets.addCss('theme://css/bootstrap.css', 103) %}
            {% do
                assets.addCss('theme://css/main.css', 101) %}
        {% endblock %}
        {{ assets.css() }}

    {% endblock head%}
</head>
