<article class="article <%- index ? '' : 'article-full' %>">

    <% if (index){ %>
        <header>
            <%- partial('component/title') %>
            <%- partial('component/meta', { post: post, presenter: false }) %>
        </header>
    <% } %>

    <div class="article-content">
        <% if (post.excerpt && index){ %>
            <%- post.excerpt %>
            <a class="btn btn-primary"
               href="<%= url_for(post.path) %>#more">Read more</a>
        <% } else { %>
            <%- post.content %>
        <% } %>
    </div>

</article>
