<article class="article <%- index ? 'article--excerpt' : ''%>">

    <header class="article__header">
        <h1 class="article__header__title">
            <% if (index){ %>
                <a href="<%= url_for(post.path) %>">
                    <%= post.title %>
                </a>
            <% } else { %>
                <%= post.title %>
            <% } %>
        </h1>
        <p class="article__header__meta">
            <span>Published: <%- partial('component/date', { datetime: post.date }) %></span>
            <span>Last updated: <%- partial('component/date', { datetime: post.updated }) %></span>
        </p>
    </header>

    <div class="article__content">
        <% if (post.excerpt && index){ %>
            <section class="article__content__body">
                <%- post.excerpt %>
            </section>
            <a class="btn btn--primary"
               href="<%= url_for(post.path) %>">Read more</a>
        <% } else { %>
            <section class="article__content__body">
                <%- post.content %>
            </section>
        <% } %>
    </div>

</article>
