<footer>
    <div class="container">
        <div class="footer-wrapper">

            <div class="footer-block">
                <nav>
                    <ul class="footer-list" role="menubar">
                        <% for (const [name, path] of Object.entries(config.menu)){ %>
                            <li role="menuitem">
                                <a href="<%= url_for(path) %>"
                                   title="Go to <%= name %>"><%= name %></a>
                            </li>
                        <% } %>
                    </ul>
                </nav>
            </div>

            <div class="footer-block">
                <ul class="footer-list">
                    <li>
                        <address class="footer-contact">Email:
                            <span title="Contact email">contact at rilling.dev</span>
                        </address>
                    </li>
                    <li>
                        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author %><br>
                    </li>
                </ul>
            </div>

        </div>
    </div>

</footer>
