<head>
    <%_
    const title = page.title ?? "Blog";
    const isError = page.layout === "error";
    _%>
    <meta charset="utf-8"/>

    <title><%= title %> | <%= config.title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="<%= isError ? "noindex" : "index"; _%>, follow"/>

    <meta name="author" content="<%= config.author %>"/>
    <%- open_graph({
        image: url_for("apple-touch-icon.png")
    }); %>

    <link rel="alternate" href="<%- url_for("rss2.xml"); %>" type="application/rss+xml">
    <link rel="alternate" href="<%- url_for("atom.xml"); %>" type="application/atom+xml">

    <!-- Generated through https://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="<%- url_for("apple-touch-icon.png"); %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%- url_for("favicon-32x32.png"); %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%- url_for("favicon-16x16.png"); %>">
    <link rel="mask-icon" href="<%- url_for("safari-pinned-tab.svg"); %>" color="#c95497">
    <link rel="shortcut icon" href="<%- url_for("favicon.ico"); %>">
    <meta name="theme-color" content="#222222">

    <meta name="color-scheme" content="dark light">

    <%- css("main"); %>

    <!-- Prefetch-able data -->
    <link rel="prefetch" href="<%- url_for("sprites/font-awesome-brands.svg"); %>">
    <link rel="prefetch" href="<%- url_for("sprites/font-awesome-solid.svg"); %>">
</head>
