<head>
    <meta charset="utf-8"/>
    <%
    const title = page.title;

    const isError = page.layout === "error";
    _%>
    <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="<%= isError ? "noindex" : "index" ;_%>,follow"/>

    <!--
    Source code can be found here:
        - site hexo project and content: https://github.com/FelixRilling/rilling.dev
        - site theme:                    https://github.com/FelixRilling/rilling.dev_theme
    -->

    <meta name="author" content="Felix Rilling"/>
    <%- open_graph({
        image: url_for("apple-touch-icon.png")
    }); %>

    <!-- Generated through https://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="<%- url_for("apple-touch-icon.png"); %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%- url_for("favicon-32x32.png"); %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%- url_for("favicon-16x16.png"); %>">
    <link rel="mask-icon" href="<%- url_for("safari-pinned-tab.svg"); %>" color="#83d356">
    <link rel="shortcut icon" href="<%- url_for("favicon.ico"); %>">
    <meta name="theme-color" content="#83d356">

    <!-- No dark mode yet :( -->
    <meta name="color-scheme" content="only light">

    <%- css("main"); %>

    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Lato:wght@400;700&family=Ubuntu+Mono&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css"
          integrity="sha512-kJ30H6g4NGhWopgdseRb8wTsyllFUYIx3hiUwmGAkgA9B/JbzUBDQVr2VVlWGde6sdBVOG7oU8AL35ORDuMm8g=="
          crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/solid.min.css"
          integrity="sha512-SazV6tF6Ko4GxhyIZpKoXiKYndqzh7+cqxl9HDH7DGSpjkCN3QLqTAlhJHJnKxu3/2rfCsltzwFC4CmxZE1hPg=="
          crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/brands.min.css"
          integrity="sha512-D0B6cFS+efdzUE/4wh5XF5599DtW7Q1bZOjAYGBfC0Lg9WjcrqPXZto020btDyrlDUrfYKsmzFvgf/9AB8J0Jw=="
          crossorigin="anonymous"/>

</head>
