<head>
    <meta charset="utf-8"/>
    <%
    let title;
    if (is_home()) {
        title = config.index.title;
    } else if (page.title) {
        title = page.title;
    } else {
        throw new Error("Could not get title.");
    }

    const isError = page.layout === "error";
    _%>
    <title><%= `${title} | ${config.title} ` _%></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="<%= isError ? "noindex" : "index" _%>,follow"/>

    <%- open_graph({
        image: url_for('apple-touch-icon.png'),
        twitter_id: config.social.twitter
    }) %>

    <link rel="apple-touch-icon" sizes="180x180" href="<%- url_for('apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%- url_for('favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%- url_for('favicon-16x16.png') %>">
    <link rel="manifest" href="<%- url_for('site.webmanifest') %>">
    <link rel="mask-icon" href="<%- url_for('safari-pinned-tab.svg') %>" color="#83d356">
    <link rel="shortcut icon" href="<%- url_for('favicon.ico') %>">
    <meta name="msapplication-TileColor" content="#83d356">
    <meta name="msapplication-config" content="<%- url_for('browserconfig.xml') %>">
    <meta name="theme-color" content="#83d356">

    <%- css('css/main') %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo|Lato:400,700|Ubuntu+Mono">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
</head>
