<head>
    <!-- Priority 1 -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= page.title ?? "Blog" %> | <%= config.title %></title>

    <!-- Priority 2 -->
    <%- css("main"); %>

    <!-- Priority 3 -->
    <meta name="robots" content="<%= page.layout === "error" ? "noindex" : "index"; _%>, follow"/>
    <meta name="author" content="<%= config.author %>"/>
    <%- open_graph({
        image: url_for("apple-touch-icon.png")
    }); %>

    <meta name="theme-color" content="#222222">

    <!--
    Icons generated through https://realfavicongenerator.net/
    Details from https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs
    -->
    <link rel="icon" href="<%- url_for("favicon.ico"); %>" sizes="32x32">
    <link rel="icon" href="<%- url_for("icon.svg"); %>" type="image/svg+xml">
    <link rel="apple-touch-icon" href="<%- url_for("apple-touch-icon.png"); %>">

    <link rel="alternate" href="<%- url_for("rss2.xml"); %>" type="application/rss+xml">
    <link rel="alternate" href="<%- url_for("atom.xml"); %>" type="application/atom+xml">
</head>
