<head>
    <%
    const title = page.title;

    const isError = page.layout === "error";
    %>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="<%= isError ? "noindex" : "index" ;_%>,follow"/>

    <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
    <meta name="author" content="Felix Rilling"/>
    <%- open_graph({
        image: url_for("apple-touch-icon.png")
    }); %>

    <!-- Generated through https://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="<%- url_for("apple-touch-icon.png"); %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%- url_for("favicon-32x32.png"); %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%- url_for("favicon-16x16.png"); %>">
    <link rel="mask-icon" href="<%- url_for("safari-pinned-tab.svg"); %>" color="#83d356">
    <link rel="shortcut icon" href="<%- url_for("favicon.ico"); %>">

    <meta name="color-scheme" content="dark light">

    <%- css("main"); %>
    <link rel="stylesheet"
          as="style"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/fontawesome.min.css"
          integrity="sha512-8jdwayz5n8F2cnW26l9vpV6+yGOcRAqz6HTu+DQ3FtVIAts2gTdlFZOGpYhvBMXkWEgxPN3Y22UWyZXuDowNLA=="
          crossorigin="anonymous"/>
    <link rel="stylesheet"
          as="font"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/solid.min.css"
          integrity="sha512-QN7X/bUbbeel9bbq6JVNJXk1Zowt+n+QPN+DjhEmTa4TdL1YPCsCey5JrvfRW8xp28LDYgGG/waNVdrhwMQmVQ=="
          crossorigin="anonymous"/>
    <link rel="stylesheet"
          as="font"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/brands.min.css"
          integrity="sha512-AMDXrE+qaoUHsd0DXQJr5dL4m5xmpkGLxXZQik2TvR2VCVKT/XRPQ4e/LTnwl84mCv+eFm92UG6ErWDtGM/Q5Q=="
          crossorigin="anonymous"/>
</head>
