<head>
    <meta charset="utf-8"/>
    <%
    let title;
    if (is_home()) {
        title = config.index.title;
    } else if (page.title) {
        title = page.title;
    } else {
        throw new Error("Could not get title.");
    }

    const isError = page.layout === "error";
    _%>
    <title><%= `${title} | ${config.title} ` _%></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="<%= isError ? "noindex" : "index" _%>,follow"/>

    <!--
    Source code can be found here:
        - site hexo project and content: https://github.com/FelixRilling/rilling.dev
        - site theme:                    https://github.com/FelixRilling/rilling.dev_theme
    -->

    <meta name="author" content="Felix Rilling"/>
    <%- open_graph({
        image: url_for('apple-touch-icon.png'),
        twitter_id: config.social.twitter
    }) %>

    <!-- Generated through https://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="<%- url_for('apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%- url_for('favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%- url_for('favicon-16x16.png') %>">
    <link rel="manifest" href="<%- url_for('site.webmanifest') %>">
    <link rel="mask-icon" href="<%- url_for('safari-pinned-tab.svg') %>" color="#83d356">
    <link rel="shortcut icon" href="<%- url_for('favicon.ico') %>">
    <meta name="msapplication-TileColor" content="#83d356">
    <meta name="theme-color" content="#83d356">

    <!-- No dark mode yet :( -->
    <meta name="color-scheme" content="only light">

    <%- css('main') %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo|Lato:400,700|Ubuntu+Mono">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/fontawesome.min.css" integrity="sha512-8jdwayz5n8F2cnW26l9vpV6+yGOcRAqz6HTu+DQ3FtVIAts2gTdlFZOGpYhvBMXkWEgxPN3Y22UWyZXuDowNLA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/solid.min.css" integrity="sha512-QN7X/bUbbeel9bbq6JVNJXk1Zowt+n+QPN+DjhEmTa4TdL1YPCsCey5JrvfRW8xp28LDYgGG/waNVdrhwMQmVQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/brands.min.css" integrity="sha512-AMDXrE+qaoUHsd0DXQJr5dL4m5xmpkGLxXZQik2TvR2VCVKT/XRPQ4e/LTnwl84mCv+eFm92UG6ErWDtGM/Q5Q==" crossorigin="anonymous" />

</head>
