<div class="container">
    <nav class="navbar">
        <a class="navbar__title" href="<%- url_for("/"); %>"
           title="Go to Home">Rilling.dev</a>

        <a class="navbar__toggle-button" href="#" id="navbarToggleButton"
           role="button"
           title="Toggle navigation" aria-controls="navbarMenu" aria-expanded="false">
            <span class="navbar__toggle-button__bar fa fas-menu-bar" aria-hidden="true"></span>
            <span class="navbar__toggle-button__bar fa fas-menu-bar" aria-hidden="true"></span>
            <span class="navbar__toggle-button__bar fa fas-menu-bar" aria-hidden="true"></span>
        </a>

        <div class="navbar__collapse" id="navbarMenu" role="navigation"
             aria-hidden="false">
            <ul class="navbar__nav" role="menubar">
                <% for (const [name, path] of Object.entries(config.menu)){ %>
                    <%_
                        let isCurrent = false;
                        if (is_current(path)) {
                            isCurrent = true;
                        } else if (is_post() && name === "Blog") {
                            isCurrent = true;
                        }
                    _%>

                    <li class="navbar__nav__item" role="menuitem">
                        <% if (isCurrent){ %>
                            <a class="navbar__nav__item__link active" href="<%- url_for(path); %>"
                               aria-current="page"><%= name; %></a>
                        <% } else { %>
                            <a class="navbar__nav__item__link"
                               href="<%- url_for(path); %>"><%= name; %></a>
                        <% } %>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>
</div>
