{% extends 'partials/base.html.twig' %}

{% block presenter %}
    {% include 'partials/presenter.html.twig' with {'page': page} %}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="section section-margin about" itemprop="mainContentOfPage">
            <div class="about-section about-main" itemscope itemtype="http://schema.org/Person">
                <img class="about-img" itemprop="image" src="{{url('theme://img/images/selfie_smaller.png/')}}" alt="Selfie of Felix Rilling">
                <h2>
                    <span itemprop="name">Felix</span>
                    <span itemprop="familyName">Rilling</span>
                </h2>
                <hr class="hr hr--sm">
                <h3 itemprop="jobTitle">Web Developer</h3>

                <p hidden="hidden" itemprop="email">contact@f-rilling.com</p>

                <div itemprop="description">{{page.content}}</div>
            </div>
            <div class="about-section about-experience">
                <h2>References</h2>
                <hr class="hr hr--sm">
                <h3>Professional Experience</h3>
                <ul>
                    {% for reference in header.data.references %}
                        <li>
                            <p>
                                <b>{{reference.role}}</b>
                                <br/>
                                <span>{{reference.at}}</span>
                                <br/>
                                </span>{{reference.time}}</span>
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% include 'modular/social.html.twig' %}
    </div>
{% endblock %}
