{% extends 'partials/base.html.twig' %}

{% set collection = page.collection() %}
{% block presenter %}
    {% include 'partials/presenter.html.twig' with {'page': page} %}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="section section-margin" itemprop="mainContentOfPage">
        <p>Note: most of the projects listed here are old and only listed for archiving. <br>For viewing my latest projects, take a look at my GitHub linked at the bottom.</p>
            <div class="projects">
                {% for category in header.data.categories %}
                    <div class="project">
                        <h3 class="project-headline">
                            <i class="fa fa-{{category.icon}}"></i>{{category.name|e}}:
                        </h3>
                        <ul>
                            {% for project in header.data.projects | sort_by_key("name") %}
                                {% if project.category == category.id %}
                                    <li >
                                        <a href="{{project.external ? project.link : url('projects/' ~ project.link, true) }}" title="Go to Project {{project.name|e}}">
                                            {{project.name}}
                                        </a>
                                        {% if project.download %}
                                            <a href="{{url('user/data/files/' ~ project.download, true)}}" class="icon" title="Download {{project.name|e}}">
                                                <i class="fa fa-download"></i>
                                            </a>
                                        {% endif %}
                                        {% if project.article %}
                                            <a href="{{url(project.article, true)}}" class="icon" title="Article for {{project.name|e}}">
                                                <i class="fa fa-file-text-o"></i>
                                            </a>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% include 'modular/social.html.twig' %}
    </div>
{% endblock %}
